<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
	<appSettings>
		<add key="timer" value="60"/>
		<add key="DevServerType" value="15"/>
		<add key="LicenseServer" value="LAPTOP-C00H3US4:40000"/>
		<add key="DevServerNode" value=""/>
		<add key="DevServer" value="LAPTOP-C00H3US4"/>
		<add key="DevDBUser" value="sa"/>
		<add key="DevDBPassword" value="B1Admin"/>
		<add key="DevSBOUser" value="manager"/>
		<add key="DevSBOPassword" value="1234"/>
		<add key="DevDatabase" value="DB_KARCHER_PRODUCCION"/>
		<add key="OnlyOne" value="true"/>
		<add key="Tipo_Pch_Sap" value="SOLSAP"/>
		<add key="UseTrusted" value="false"/>
		<add key="RangodeRegistrosEmision" value="100"/>
		<add key="RangodeRegistrosSincronizacion" value="50"/>
		<add key="URL_SG" value="https://api.sendgrid.com/v3/mail/send"/>
		<add key="APIKEY_SG" value="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"/>
		<add key="CORREOASUNTO_SG" value="ALERTAS PROCESADOR CARVALLOTEX"/>
		<add key="CORREOFROM_SG" value="alertasSolsap@solsap360.com"/>
		<add key="CORREOTO_SG" value="soporte@solsap360.com"/>
		<add key="MAXDOC_ALERTA" value="1000"/>
		<add key="GuardaLog" value="1"/>
		<add key="SAP_VERSION" value="10"/>
		<add key="TotalHilosEmision" value="1"/>
		<add key="TotalHilosSincro" value="1"/>
		<add key="ClientSettingsProvider.ServiceUri" value=""/>
	</appSettings>
</configuration>
