<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="timer" value="60" />
    <add key="DevServerType" value="15" />
    <add key="LicenseServer" value="LAPTOP-C00H3US4:40000" />
    <add key="DevServerNode" value="" />
    <add key="DevServer" value="LAPTOP-C00H3US4" />
    <add key="DevDBUser" value="sa" />
    <add key="DevDBPassword" value="B1Admin" />
    <add key="DevSBOUser" value="manager" />
    <add key="DevSBOPassword" value="1234" />
    <add key="DevDatabase" value="DB_KARCHER_PRODUCCION" />
    <add key="OnlyOne" value="true" />
    <add key="Tipo_Pch_Sap" value="SOLSAP" />
    <add key="UseTrusted" value="false" />
    <add key="SAP_VERSION" value="10" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>